/BoolDemo.class
/CastDemo.class
/CharArithDemo.class
/DynInit.class
/Hypot.class
/Inches.class
/LogicalOpTable.class
/LtoD.class
/LtoD_2.class
/ModDemo.class
/NestVar.class
/PromDemo.class
/RelLogOps.class
/SCops.class
/ScopeDemo.class
/SideEffects.class
/Sound.class
/StrDemo.class
/UseCast.class
/VarInitDemo.class
