/Exercise_01.class
/Game.class
/GameCharacter.class
/PlayableCharacter.class
/Player.class
/videoGame.class
/Enemy.class
/nonPlayableCharacter.class
/VideoGame.class
/NPC.class
/SwapPartyLeader.class
/Exercise_01b.class
/Blue.class
/Color.class
/Red.class
/Yellow.class
/Primary.class
/Hue.class
/RGBcolor.class
/HSVhue.class
